.table {
  width: 100%;
  border-radius: 0.5rem;
  border-spacing: 0;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.25);
}

.table thead th {
  background: var(--color-background);
  color: #FFF;
  font-weight: 400;
}

.table td {
  text-align: center;
}

.trash {
  cursor: pointer;
}
